<div id="<%= dom_id todo %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"Name: ><%= todo.title %></h5>
    <p class="card-text"><strong>Task: :</strong> <%= todo.description %></p>
    <p class="card-text"><strong>Completed:</strong> <%= todo.completed ? 'Yes' : 'No' %></p>
  </div>
</div>

