<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">Editing Todo</h1>

      <%= render "form", todo: @todo %>

      <br>

      <div class="btn-group justify-content-center">
        <%= link_to "Back to todos", todos_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>

